*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: linear-gradient(45deg, #fbda61, #ff5acd);
}

.container{
    position: relative;
    height: 240px;
    width: 340px;
    background: #fff;
    border-radius: 20px;
}
.container .box{
    position: absolute;
    height: 150px;
    width: 200px;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    z-index: 1;
}

.container .sec{
    height: 100%;
    width: 100%;
    background-color: red;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    position: absolute;

}
.container .sec .info{
    padding: 20px;
    width: 100%;
    text-align: center;
    background: #ff5acd;
}
.container .sec .info .info2{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 20px 0;
}

.bttn{
    display: flex;
    justify-content: space-around;
}

